<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>WebSocket</title>
    <script src="https://cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
    <script src="https://cdn.bootcss.com/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdn.bootcss.com/stomp.js/2.3.3/stomp.min.js"></script>
</head>

<body>
<input type="button" id="openMsg" value="开启"><input type="button" id="closeMsg" value="关闭">
<div id="log-container" style="height: 450px; overflow-y: scroll; background: #333; color: #aaa; padding: 10px;">
    <div></div>
</div>
</body>
<script>
    var stompClient = null;
    //加载完浏览器后，调用 connect（），打开双通道
    $(function () {
        //打开双通道
        connect()
    })
    //强制关闭浏览器，  调用 websocket.close（）,进行正常关闭
    window.onunload = function () {
        disconnect()
    }

    $("#closeMsg").on("click", function () {
        disconnect();
    });
    $("#openMsg").on("click", function () {
        connect();
    });

    function connect() {
        var socket = new SockJS('http://localhost:9000/socket'); //连接SockJS的endpoint名称为"endpointOyzc"
        stompClient = Stomp.over(socket); //使用STMOP子协议的WebSocket客户端
        stompClient.connect({}, function (frame) { //连接WebSocket服务端
            console.log('Connected:' + frame);
            //通过stompClient.subscribe订阅/topic/getResponse 目标(destination)发送的消息
            stompClient.subscribe('/topic/msg', function (response) {
                showResponse(JSON.parse(response.body));
            });
        });
    }

    function showResponse(message) {
        $("#log-container div").append(message.timestamp + " " + message.msg).append("<br/>");
        $("#log-container").scrollTop($("#log-container div").height() - $("#log-container").height());
    }

    //关闭双通道
    function disconnect() {
        if (stompClient != null) {
            stompClient.disconnect();
            stompClient = null;
        }
    }
</script>
</body>

</html>
