<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fleet.authcheck.dao.PermitDao">
    <resultMap id="BaseResultMap" type="com.fleet.authcheck.entity.Permit">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="remark" property="remark"/>
        <result column="upper_id" property="upperId"/>
    </resultMap>

    <sql id="Base_Column_List">
		`id`, `code`, `remark`, `upper_id`
	</sql>

    <insert id="insert" parameterType="com.fleet.authcheck.entity.Permit" useGeneratedKeys="true" keyProperty="id">
        insert into `permit` (
        <trim suffixOverrides=",">
            <if test="code != null">`code`,</if>
            <if test="remark != null">`remark`,</if>
            <if test="upperId != null">`upper_id`,</if>
        </trim>
        ) values (
        <trim suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="remark != null">#{remark},</if>
            <if test="upperId != null">#{upperId},</if>
        </trim>
        )
    </insert>

    <delete id="delete" parameterType="com.fleet.authcheck.entity.Permit">
        delete from `permit`
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="code != null">and `code` = #{code}</if>
            <if test="remark != null">and `remark` = #{remark}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
        </where>
    </delete>

    <update id="update" parameterType="com.fleet.authcheck.entity.Permit">
        update `permit`
        <set>
            <if test="code != null">`code` = #{code},</if>
            <if test="remark != null">`remark` = #{remark},</if>
            <if test="upperId != null">`upper_id` = #{upperId},</if>
        </set>
        where id = #{id}
    </update>

    <select id="get" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `permit`
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="code != null">and `code` = #{code}</if>
            <if test="remark != null">and `remark` = #{remark}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
        </where>
        limit 1
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from `permit`
        <where>
            <if test="id != null">and `id` = #{id}</if>
            <if test="code != null">and `code` = #{code}</if>
            <if test="remark != null">and `remark` = #{remark}</if>
            <if test="upperId != null">and `upper_id` = #{upperId}</if>
        </where>
    </select>
</mapper>
